.button {
    font-weight: 600;
    height: 40px;
    padding: 0 1.5rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.icon {
    display: flex;
    align-items: center;
}
