.searchBarForm{
    width: 100%;

    @media (max-width: $mantine-breakpoint-md) {
        max-width: 100%;
    }

    .searchBarGroup{
        width: 100%;
        gap: 8px;

        @media (max-width: $mantine-breakpoint-md) {
            justify-content: center;
        }

    }
}

.actionIcon{
    button[data-disabled='true']{
        background: transparent;
    }
}