.infoWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: rgb(248,250,251);
    padding: 40px 20px;

    & > h2{
        font-size: var(--font-size-heading-medium);
        font-weight: 500;
    }

    & > h3{
        text-align: center;
        font-size: var(--font-size-heading-xsmall);
        font-weight: 300;
    }
}