.mainReasonWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f8fafb;
    padding: 40px 0;

    @media (max-width: $mantine-breakpoint-md) {
        padding: 40px 20px;
    }
}

.mainReasonGroup{
    width: 100%;
    max-width: 1280px;
    justify-content: space-between;

    @media (max-width: $mantine-breakpoint-md) {
        justify-content: center;
        gap: 40px;
    }

    & > h2{
        font-size: 32px;
        font-weight: 500;
    }

    & > h5{
        font-size: 20px;
        font-weight: 500;
    }

    & > p{
        font-size: 16px;
        font-weight: 400;
        color: #718096;
    }
}

.reasonImg {
     width: 600px;
     height: 400px;

     @media (max-width: $ mantine-breakpoint-md) {
         width: 300px;
         height: 200px;
     }
 }

.reasonInfo {
    display: flex;
    flex-direction: row;
    gap: 20px;

    & > p {
        margin-top: 15px;
    }

}